@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  src: local("Quicksand-Regular"), url('./resources/fonts/Quicksand-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("Quicksand-Medium"), url('./resources/fonts/Quicksand-Medium.ttf') format("truetype");
}

@font-face {
  font-family: "Light";
  src: local("Quicksand-Light"), url('./resources/fonts/Quicksand-Light.ttf') format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("Quicksand-Bold"), url('./resources/fonts/Quicksand-Bold.ttf') format("truetype");
}

